.moving{
    animation: drop 2s ease-in infinite;
    animation-direction: alternate;
}

@keyframes drop {
    from {
      top: 50px;
      left: 50px;
    }
    to   {
      top: 90vw;
      left: 200px;
    }
}
