/*
	copying from codepen ;) STARTS HERE

	Try atomic css here bossu
*/

.player{
	position : relative;
	top: 50vw;
  left: 50vw;
}
/* player sizes */
.sSize{
	width: 50px;
	height: 50px;
}
.mSize{
	height: 100px;
	width: 100px;
}
.lSize{
	height: 150px;
	width: 150px;
}


.dot {
	border: 5px solid #f7f14c;

	background-color: #716f42;
	position: absolute;
}

.pulse {
	border: 10px solid #fff601;
	background: transparent;

	position: absolute;
	top: -30px;
	left: -30px;
	opacity: 0;
}

.pulseEffect{
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.rounded{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/*
ANIMATIONS
*/
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(0);
		opacity: 0.0;
	}
	25% {
		-moz-transform: scale(0);
		opacity: 0.1;
	}
	50% {
		-moz-transform: scale(0.1);
		opacity: 0.3;
	}
	75% {
		-moz-transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0.0;
	}
}

@-webkit-keyframes "pulse" {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	25% {
		-webkit-transform: scale(0);
		opacity: 0.1;
	}
	50% {
		-webkit-transform: scale(0.1);
		opacity: 0.3;
	}
	75% {
		-webkit-transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0.0;
	}
}


/*
	copying from codepen ;) ENDS HERE
*/
